
*.suo
/CyberNetServer/bin/Debug/CyberNetServer.pdb
/CyberNetServer/obj/x86/Debug/CyberNetServer.exe
/CyberNetServer/obj/x86/Debug/CyberNetServer.pdb
/CyberNetServer/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CyberNetServer/obj/x86/Debug/ResolveAssemblyReference.cache
/CyberNetServer/bin/Debug/CyberNetServer.vshost.exe.manifest
/CyberNetServer/obj/x86/Debug/CyberNetServer.csproj.FileListAbsolute.txt
/CyberNetASP/obj/Debug/CyberNetASP.csproj.FileListAbsolute.txt
/CyberNetASP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CyberNetASP/obj/Debug/WebTest.pdb
/CyberNetDB/CyberNetDBModel.mwb.bak
/CyberNetServer/Proxy/nginx-1.3.16/logs/nginx.pid
/CyberNetASP/obj/Debug/WebTest.dll
/CyberNetASP/bin/AjaxControlToolkit.dll
/CyberNetASP/bin/AjaxControlToolkit.pdb
/CyberNetASP/bin/ar/AjaxControlToolkit.resources.dll
/CyberNetASP/bin/cs/AjaxControlToolkit.resources.dll
/CyberNetASP/bin/de/AjaxControlToolkit.resources.dll
/CyberNetASP/bin/es/AjaxControlToolkit.resources.dll
/CyberNetASP/bin/fr/AjaxControlToolkit.resources.dll
/CyberNetASP/bin/he/AjaxControlToolkit.resources.dll
/CyberNetASP/bin/hi/AjaxControlToolkit.resources.dll
/CyberNetASP/bin/it/AjaxControlToolkit.resources.dll
/CyberNetASP/bin/ja/AjaxControlToolkit.resources.dll
/CyberNetASP/bin/ko/AjaxControlToolkit.resources.dll
/CyberNetASP/bin/nl/AjaxControlToolkit.resources.dll
/CyberNetASP/bin/pt/AjaxControlToolkit.resources.dll
/CyberNetASP/bin/ru/AjaxControlToolkit.resources.dll
/CyberNetASP/bin/tr-TR/AjaxControlToolkit.resources.dll
/CyberNetASP/bin/zh-CHS/AjaxControlToolkit.resources.dll
/CyberNetASP/bin/zh-CHT/AjaxControlToolkit.resources.dll
/CyberNetASP/obj/Debug/ResolveAssemblyReference.cache
.gitconfig

/CyberNetASP/obj/Debug/CyberNet.pdb
/CyberNetASP/obj/Debug/CyberNet.dll
/CyberNetASP/bin/CyberNet.pdb
/CyberNetASP/bin/CyberNet.dll
/CyberNetASP/bin/ConnectionString.txt
/CyberNetASP/obj/Debug/CyberNetASP.csprojResolveAssemblyReference.cache
/CyberNetServer/bin/Debug/CyberNetServer.exe.config
/CyberNetServer/bin/Debug/CyberNetServer.vshost.exe.config
/CyberNetServer/obj/Debug/CyberNet.ConsoleHelper.resources
/CyberNetServer/obj/Debug/CyberNet.Properties.Resources.resources
/CyberNetServer/obj/Debug/CyberNetServer.csproj.FileListAbsolute.txt
/CyberNetServer/obj/Debug/CyberNetServer.csproj.GenerateResource.Cache
/CyberNetServer/obj/Debug/CyberNetServer.csprojResolveAssemblyReference.cache
/CyberNetServer/obj/Debug/CyberNetServer.exe
/CyberNetServer/obj/Debug/CyberNetServer.pdb
/CyberNetServer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/CyberNetServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CyberNetServer/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/CyberNetServer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CyberNetServer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CyberNetServer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs